:root{
    --rca-theme-font-bold:latobold;
    --rca-theme-font-regular:latoregular;
}
.rca-regular{font-family: var(--rca-theme-font-regular); font-weight: 300; }
.rca-bold{font-family: var(--rca-theme-font-bold); font-weight: 600; }

button.navbar-toggler:focus,
button.btn-close:focus{box-shadow: none;}


.custom-container{max-width: 1800px; margin: 0px auto; width: 100%; padding: 0px 15px; }
.custom-container-footer, .custom-container-main{max-width: 1440px; margin: 0px auto; width: 100%; padding: 0px 15px; }

.custom-text-light{color: #565656;}
.border-top-custom { border-top: 2px solid #565656;}


.footer a{text-decoration: none; color: #fff; font-size: 1.125rem;}

.footer ul,
.footer li{padding:0px; margin:0px;}

.footer li{list-style: none;}
