@media only screen and (max-width:1440px){
    .about-company .about-inner .work{padding: 120px 0px 0px;}
    .video-section .video-inner{height: 500px;}
}


@media only screen and (max-width:1340px) {
    .custom-fs-18{font-size: 16px;}
    .custom-fs-72{font-size: 62px;}
    .hero .hero-inner .hero-top .hero-left h1{padding-bottom:53px ;}
    .hero .hero-inner .hero-right img{max-width: 20px;}
    .hero .hero-inner .hero-banner .quote-btn{height: 128px; width: 128px;}
    .about-company .about-inner .work{ padding: 100px 0px 0px;}
    .full:not(.no-full){width: 100%;}
    .video-section .video-inner { height: 420px; }
    .hero .hero-inner .hero-banner .quote-btn button{font-size: 16px;}
}


@media only screen and (max-width:1140px) {
    .custom-fs-18{font-size: 14px;}
    .custom-fs-72{font-size: 52px;}
    .hero .hero-inner .hero-top{padding-bottom: 13px;}
    .hero .hero-inner .hero-right img {max-width: 18px};
    .about-company .about-inner .work{ padding: 80px 0px 0px;}
}

@media only screen and (max-width:1080px) {
    .custom-fs-18{font-size: 14px;}
    .custom-fs-72{font-size: 52px;}
    .custom-fs-40{font-size: 30px;}
    .custom-fs-48{font-size: 36px;}
    .hero .hero-inner .hero-top{padding-bottom: 13px;}
    .about-company .about-inner .work{ padding: 70px 0px 0px;}
}

@media only screen and (max-width:991px) {
    .custom-fs-18{font-size: 14px;}
    .custom-fs-72{font-size: 46px;}
    .hero{padding-top: 21px;}
    .hero .hero-inner .hero-banner {margin-top: 50px;}
    .hero .hero-inner .hero-banner .quote-btn{height: 120px; width: 120px; top: -44px; right: 40%;}
    .hero .hero-inner .hero-banner .quote-btn button{ padding: 10px; font-size: 14px;}
    .custom-card {padding: 15px 15px;}
    .owl-slider-section{padding-left: 0px; padding-top: 60px;}
    .owl-slider-section .owl-carousel .owl-nav { top: -25px; left: 15px; display: inline-flex !important; }
    section{padding: 40px 0px;}
    .about-company .about-inner .work{ padding: 80px 0px 0px;}
    .about-company .about-inner .contact-bottom{margin-bottom: 15px;}
    .slider-static-text.custom-container-main .slider-img{justify-content: flex-start; margin-top: 20px;}
    .review-section .owl-stage-outer{padding: 40px  0px;}
    .slider-section-inner{padding: 0px;}
    .img-slider .owl-slider-section{padding-top: 95px;}
    .img-slider .owl-slider-section .owl-carousel .owl-nav{top: -75px;}
    .img-slider .slider-p-text{margin-top: 10px;}
    .header .qoute-btn{margin-top: 20px;}
    .custom-body-offcanvas .navbar-nav{gap: 10px;}
    .contact-banner .contact-banner-inner .contact-banner-content{padding: 50px 20px;}
    .contact-banner .contact-number-inner{margin-top: 20px;}
}


@media only screen and (max-width:860px) {
    .custom-fs-72{font-size: 42px;}
}


@media only screen and (max-width:768px) {
    .hero{min-height: 100%;}
    .hero .hero-inner .hero-banner{height: 34vh;}
    .custom-fs-72 { font-size: 28px; }
    .about-company .about-inner .work{ padding: 60px 0px 0px;}
    .video-section .video-inner { height: 300px; }
    .footer-main .footer-main-inner .footer-right{gap: 40px; margin-top: 40px;}
    .footer-main .footer-main-inner .footer-copy-right-section{margin-top: 30px;}
    .footer-main .footer-main-inner{padding-top:40px;}
    .footer-main .footer-main-inner .footer-left p{margin: 0px auto;}
    .footer .social-left{justify-content: center;}
    .footer .footer-top-containers{text-align: center;}
}



@media only screen and (max-width:575px) {
    .social-links-header .social-inner .social-left .social-block .social { height: 15px; }
    .hero .hero-inner .hero-banner{height: 33vh;}
    .hero .hero-inner .hero-top .hero-left h1 { padding-bottom: 25px; }
    .hero .hero-inner .hero-banner {margin-top: 50px;}
    .hero .hero-inner .hero-banner .quote-btn{position: absolute; height: 88px; width: 88px; top: -44px; right: 40%;}
    .hero .hero-inner .hero-banner .quote-btn button{ padding: 0px; font-size: 12px;}
    section{padding: 30px 0px;}
    .about-company .about-inner .work{ padding: 40px 0px 0px;}
    .owl-slider-section.review-section .item{max-width: 496px;}
    .review-section .owl-stage-outer{padding: 0px 0px 20px;}
    .video-section .video-inner { height: 200px; }
    
}


@media only screen and (max-width:480px){
    .header .navbar-brand img{width: 100%;}
    .header .navbar-brand {max-width: 160px; width: 100%;}
    section{padding: 25px 0px;}
    .about-company .about-inner .work{ padding: 35px 0px 0px;}
    
}

@media only screen and (max-width:380px) {
    .social-links-header .social-inner {padding:13px ;}
    .social-links-header .social-inner .social-left {gap: 15px;}
    .social-inner .social-right a{font-size: 12px;}
    section{padding: 20px 0px;}

}