


/* Header Hover links C-C-102 */



.nav-item{display: flex; align-items: center; font-size: 14px;}

.nav-link{overflow: hidden; position: relative;display: inline-block;  transition: all .5s ease;}
.nav-link::after{content:''; position: absolute; height:2px; width: 20px; background-color: #000;  transform: scaleX(0); left: 32%; bottom: 5px; transform-origin: right; transition: transform .5s ease;}
.nav-link:hover::after{  transform-origin: left; transform: scaleX(1);}
.nav-link:hover{font-weight: bold;}




.social-links-header .social-right a:hover{ border-bottom: 2px solid #fff;}

.quote-inner-btn .text-light.btn{padding: 16px 20px; height: 52px; line-height: 0;}

.custom-body-offcanvas .navbar-nav{gap: 39px;}
.custom-body-offcanvas .navbar-nav li a{color: #010101;}


/* Header Hover links C-C-102 */




/* Footer Start C-C-112 */

.footer .contact-banner .contact-banner-inner .contact-banner-content { top: 0; color: #fff; }

.footer-main .footer-main-inner .footer-left p{max-width: 354px; width: 100%;}


/* Footer End C-C-112 */


